<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>Product App</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head> 
  <body>
    <div class='nav-bar'></div>

    <div id="app" class="product">
      <div class="product-image">
        <img v-bind:src="image"/>
      </div>
      <div class="product-info">
        <h1>{{ title }}</h1>
        <p v-if="inventory > 10">In Stock</p>
        <p v-else-if="inventory <= 10 && inventory > 0">Almost Out Stock</p>
        <p v-if="inventory === 0" :class="{ outOfStock: !inStock }">Out of Stock</p>
        <p v-if="isSale">On Sale</p>

        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>

        <div v-for="varian in varians"
          :key="varian.id"
          class="color-box"
          :style="{backgroundColor: varian.color }"
          @mouseover="changeColor(varian.image)" >
        </div>

        <button v-on:click="onAddToCartClick()"
          :disabled="!inStock"
          :class="{ disabledButton: !inStock }">Add to Cart</button>

        <div class="cart">
          <p>Cart({{ cart }})</p>
        </div>

        <a v-bind:href="link">More boots here!</a>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>